extends layout

block content
  p Plak hieronder een lijst van permanente urls
  .container
    .formulier-container
      form#formulier
        textarea#input.input(
          type='text'
          role='textbox'
          aria-multiline='true'
          cols="70"
          rows="5"
          placeholder=`http://proxy.handle.net/10648/aac798a6-d0b4-102d-bcf8-003048976d84 
http://proxy.handle.net/10648/6b004a04-1ad9-102f-a76c-003048944028 etc ...`
          )
      .knoopjes
        .links
          .data.onzichtbaar
            form(id="csv-data" action="" method="get" target="_blank")
              button(type="submit") Metadata.csv
            form(id="json-data" action="" method="get" target="_blank")
              button(type="submit") Metadata.json
        .rechts
          .scraper
            button(value="submit" form="formulier") Scrapen
            .loading.onzichtbaar
              | Bezig met scrapen ...
    .json
      .lader-container
        .lader-ring.onzichtbaar
          | <svg
          |   class="progress-ring"
          |   viewBox="0 0 50 50"
          | >
          |  <circle
          |    class="circle"
          |    fill="transparent"
          |    r="20"
          |    cx="50%"
          |    cy="50%"/>
          | </svg>
        .lader-text.onzichtbaar
          | Bezig met scrapen ...

  script(src='javascripts/script.js')