body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  color: mediumslateblue;
}

a {
  color: #00B7FF;
}

button {
  color: lavender;
  /* background-color: mediumpurple; */
  background-color: mediumslateblue;
  border-radius: 9999px !important;
  background-image: none;
  cursor: pointer;
  border: none;
  padding: .75rem;
}

button:hover {
  color: white;
}

*:focus {
  outline: 0;
}

.bezig {
  color: white;
  background-color: lavender;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  width: 100%;
}

.input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  min-width: calc(100% - 1em);
  height: 70vh;
  transition: height .2s ease-in-out;
  overflow: wrap;
  border: none;
  color: slateblue;
  background-color: lavender;
  white-space: pre-wrap;
  padding: .5em;
}

.input::placeholder, .input::-webkit-input-placeholder  {
  font-family: 'Courier New', Courier, monospace;
  /* color: slateblue; */
  /* color: lightsteelblue; */
  color: mediumslateblue;
  /* color: slateblue; */
  border-radius: .5em;
}

/* Leeg op focus */
.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus:-moz-placeholder {
  color: transparent;
}


.knoopjes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.scraper,
.data {
  display: flex;
  align-content: center;
  align-items: baseline;
  margin: 1em 0;
  font-size: 1.25em;
}

.data button {
  margin-right: 1em;
}

.json {
  min-width: 100%;
  margin: 0 2em;
  white-space: pre-wrap;
}

.loading {
  margin: 0 1em;
  color: slateblue;
}

.onzichtbaar {
  display: none;
}

#csv-data button,
#json-data button {
  color: mediumslateblue;
  background-color: lavender;
}

#csv-data button:hover,
#json-data button:hover {
  color: white;
  background-color: mediumslateblue;
}

.progress-ring > .circle {
  stroke-dasharray: 0 1em;
  stroke-width: .35em;
  stroke-linecap: round;
  stroke: mediumslateblue;
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.lader-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90%;
}

.lader-text {
  margin-top: .5em;
}
.lader-ring svg {
  width: 3em;
  height: auto;
}